---
import ExperienceItem from "@/components/sections/ExperienceItem.astro";
import cvData from "@/data/cv_data.json";

const { professional_experience, academic_formation } = cvData;
---

<h2 class="text-2xl font-bold mb-8 text-gray-800 dark:text-white">Experiencia Profesional</h2>
<ol class="relative mt-8">
  {
    professional_experience.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>

<h2 class="text-2xl font-bold mt-16 mb-8 text-gray-800 dark:text-white">Formación Académica</h2>
<ol class="relative mt-8">
  {
    academic_formation.map((formation) => (
      <li class="">
        <ExperienceItem {...formation} />
      </li>
    ))
  }
</ol>
