---
import ExperienceItem from "@/components/sections/ExperienceItem.astro";
import cvData from "@/data/cv_data.json";

const { professional_experience, academic_formation } = cvData;
---

<ol class="relative mt-8">
  {
    professional_experience.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>


