---
import Layout from "@/layouts/Layout.astro"

import AboutMe from "@/components/sections/AboutMe.astro"
import Briefcase from "@/components/icons/Briefcase.astro"
import CodeIcon from "@/components/icons/Code.astro"
import Experience from "@/components/sections/Experience.astro"
import ProfileCheck from "@/components/icons/ProfileCheck.astro"
import Projects from "@/components/sections/Projects.astro"
import SectionContainer from "@/components/ui/SectionContainer.astro"
import Hero from "@/components/sections/Hero.astro"
import TitleSection from "@/components/ui/TitleSection.astro"
import Skills from "@/components/sections/Skills.astro"; // Import Skills component
import AcademicFormation from "@/components/sections/AcademicFormation.astro";
import Education from "@/components/icons/Education.astro";
---

<Layout>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero />
    </SectionContainer>
    <div class="space-y-24 pb-16">
    <SectionContainer id="experience">
      <TitleSection>
        <Briefcase class="size-8" />
        <span data-i18n-title="workExperience">Work Experience</span>
      </TitleSection>
      <Experience />
    </SectionContainer>

    <SectionContainer id="projects">
      <TitleSection>
        <CodeIcon class="size-7" />
        <span data-i18n-title="featuredProjects">Featured Projects</span>
      </TitleSection>
      <Projects />
    </SectionContainer>

    <SectionContainer id="skills">
      <TitleSection>
        <CodeIcon class="size-7" />
        <span data-i18n-title="techStack">Tech Stack</span>
      </TitleSection>
      <Skills />
    </SectionContainer>

    <SectionContainer id="academic-formation">
      <TitleSection>
        <Education class="size-8" />
        <span data-i18n-title="academicBackground">Academic Background</span>
      </TitleSection>
      <AcademicFormation />
    </SectionContainer>

    <SectionContainer id="about-me">
      <TitleSection>
        <ProfileCheck class="size-8" />
        <span data-i18n-title="aboutMe">About Me</span>
      </TitleSection>
      <AboutMe />
    </SectionContainer>
  </div>
  </main>
</Layout>
