---
const personalImageAlt = "Carlos Hernández Martínez"
import Badge from "@/components/Badge.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import MailIcon from "@/components/icons/Mail.astro"
import GitHubIcon from "@/components/icons/GitHub.astro"
import SocialPill from "@/components/SocialPill.astro"
---

<div class="max-w-xl">  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="me.jpg"
      alt={personalImageAlt}
    />
    <a
      href="https://linkedin.com/in/carl0shdez"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hey, soy Carlos Hernández Martínez
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    <strong>Ingeniero Informático especializado en Machine Learning & AI.</strong> Apasionado por desarrollar soluciones innovadoras con tecnologías de vanguardia, desde modelos neuronales implícitos hasta agentes basados en LLM. Con experiencia internacional y enfoque en investigación aplicada.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:carlos.cbm32@gmail.com">
      <MailIcon class="size-4" />
      Contáctame
    </SocialPill>
    <SocialPill href="https://linkedin.com/in/carl0shdez">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
    <SocialPill href="https://github.com/Tempus23">
      <GitHubIcon class="size-4" />
      GitHub
    </SocialPill>
  </nav>
</div>
